p{
    font-family: sans-serif;
    font-size: medium;
    color: #33cccc;
}

a:hover{
    color: red;
    
}
a:visited{
    color: #009933;
}
a{
    color: #0099cc;
}
body{
    
    background: -webkit-linear-gradient(90deg, rgb(180, 22, 237), rgb(38, 20, 90));
    background: linear-gradient(90deg, rgb(180, 22, 237), rgb(38, 20, 90));
    width: 90%;
    margin: 5%;
    background-image: url(/home/vincent/Documents/progressive-enhancement/rice.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
}
blockquote{
    margin: 10%;
}
q{
    font-size: 160%;
    background-color: #a6a6a6;
    border-left: 3px solid firebrick;
    padding-left: 30px;
    margin-top: 80px;
    
}

